:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.7);
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  text-align: center;
  font-size: 5em;
  font-family: "Fredoka One", sans-serif;
  font-weight: bold;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:first-child,
.cell:nth-child(4),
.cell:nth-child(7) {
  border-left: none;
}

.cell:last-child,
.cell:nth-child(3),
.cell:nth-child(6) {
  border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: none;
}

/* .cell.x::before,
.cell.x::after,
.cell.o::before {
  background-color: black;
}

.cell.x::before,
.cell.x::after {
  content: "";
  position: absolute;
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
}

.cell.x::before {
  transform: rotate(45deg);
}

.cell.x::after {
  transform: rotate(-45deg);
}

.cell.o::before,
.cell.o::after {
  content: '';
  position: absolute;
  border-radius: 50%;
}

.cell.o::before {
  width: var(--mark-size);
  height: var(--mark-size);
}

.cell.o::after {
  width: calc(var(--mark-size) * .7);
  height: calc(var(--mark-size) * .7);
  background-color: white;
} */
